{{ partial "header.html" .}}

<div class="page-header">
    <h1>{{ .Site.Title }}</h1>
</div>
<div class="page-body">
    <p class="post-meta"><a href="{{ .URL }}">Index</a>
        <br />
    </p>
    <p class="post-meta"><a href="{{ .Site.BaseURL }}/post/">Archives</a>
        <br />
    </p>
</div>

{{ partial "footer.html" .}}
