{{ partial "header.html" .}}

<div class="page-header">
    <h1>{{ .Site.Title }}</h1>
    {{ if isset .Site.Params "Description" }}<p>{{ .Site.Params.Description }}</p>{{ end }}
</div>
<div class="page-body">

    {{ range first 4 (where .Data.Pages "Type" "post") }}
        {{ .Render "summary"}}
    {{ end }}

</div>

{{ partial "footer.html" .}}
