/* program box */
.box {
    padding: 1.5em;
    margin-bottom: 1.5em;
    background: #E5ECF9;
}

/* speaker no photo */
.fa-BSB-retro-size-6 {
    font-size: 10em;
    opacity: 0.05;
}

/* sponsors levels */
.venue { background-color: #F1CCC2}
.supporter { background-color: #B1DDA1}
.bronze { background-color: #8C5B53}
.silver { background-color: #AAA9AD}
.gold { background-color: #C98910}
.platinum { background-color: #E5E4E2}

/* devopsdays.org tip */
a img.company-logo:hover , a img.company-logo:focus  {
  cursor: pointer;
}
.company-logo {
  display: inline-block;
  #float: left;
  height: 100px;
  width: 100px;
  border: 0px;
  padding: 2px !important;
  margin: 5px;
}

.borda {
  border: 1px solid #18b;
}
