</div>
<footer class="footer">

    <a class="btn btn-link" href="/post/fotos2016/">
      Confira as fotos da edição 2016
    </a>

<ul>
    <li>
        <a href="https://t.me/DevOpsDaysBrasilia" title="Canal Telegram do evento">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-question-circle-o fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="mailto:{{ .Site.Params.email }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {{ range .Site.Params.social }}
    <li>
        <a href="{{ .url }}" title="{{ .description }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-{{ .title }} fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    {{ end }}
</ul>

<p class="copyright text-muted">{{ .Site.Copyright }}</p>
<div class="copyright text-center text-muted">{{ .Site.Params.version }}</div>

<p class="copyright text-muted">
    Todo o conteúdo deste site está publicado sob a Licença
    <a href="http://creativecommons.org/licenses/by/3.0/br/" title="Creative Commons Atribuição 3.0" target="_blank">
        Creative Commons Atribuição 3.0 Brasil (CC BY 3.0 BR)</a> exceto quando especificado em contrário.<br />
        <a href="/about/privacidade/" title="Política de privacidade">Política de privacidade</a>
    </p>

</footer>
</div>
{{ partial "sponsors.html" . }}
</div>


    <!-- jQuery -->
    <script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/devopsdays2017.js"></script>

    {{ if isset .Site.Params "Ganalytics" }}{{ partial "ga.html" . }}{{ end }}

</body>
</html>
