<aside class="sponsors">
    <div class="sponsors-head no-margin">
        <h2>Patrocínio</h2>
        <a href="/about/sponsor/">Seja Patrocinador!</a>
    </div>

    <div class="type type-platinum">
        <strong>Platinum</strong>

        <a href="http://instruct.com.br/" target="_blank">
            <img alt="Instruct - Infraestrutura Como Código" title="Instruct - Infraestrutura Como Código"
            src="/img/sponsors/instruct.jpg">
        </a>

        <!-- Logos devem ter 240px x 120px  -->

    </div>

    <div class="type type-gold">
        <strong>Gold</strong>

        <!-- Logos devem ter 240px x 120px  -->

    </div>

    <div class="type type-silver">
        <strong>Silver</strong>

        <!-- Logos devem ter 240px x 120px  -->

    </div>

    <div class="type type-bronze">
        <strong>Bronze</strong>

        <!-- Logos devem ter 240px x 120px  -->

    </div>


    <div class="sponsors-head">
        <h2>Apoio e Realização</h2>
        <p>Comunidades</p>
    </div>

    <div class="min-logos">
        <img alt="Puppet-BR community users" title="Puppet-BR community users" src="/img/sponsors/2016-puppetbr.png">
        <img alt="Docker-BR community users" title="Docker-BR community users" src="/img/sponsors/2016-dockerbr.png">
        <img alt="DevOps-BR community users" title="DevOps-BR community users" src="/img/sponsors/2016-devopsbr.png">
        <img alt="DevOps-BR community users" title="DevOps-BR community users" src="/img/sponsors/2017-gitlabbr.png">
        <img alt="DevOps-BR community users" title="DevOps-BR community users" src="/img/sponsors/2017-rancherbr.png">
        <img alt="php DF" title="php DF" src="/img/sponsors/2017-phpdf.png">
    </div>

    <div class="sponsors-head">
        <p>Realização</p>
    </div>

    <div class="med-logos">
        <img alt="DevOpsDays Brasília" title="DevOpsDays Brasília Local Team" src="/img/logo.png">
        <a href="https://www.meetup.com/devops-df" target="_blank">
            <img alt="DevOps-DF" title="DevOps-DF" src="/img/sponsors/devops-df.png">
        </a>
    </div>

</aside>
