{{ partial "header.html" . }}


    <div class="page-header">
        <h1>{{ .Description }}</h1>
        {{ if $.Params.copalestrante_name }}<p>& {{ $.Params.copalestrante_name }}</p>{{end}}
    </div>
    <div class="page-body">
        {{ .Content }}
    </div>


 {{ range $fname, $s := index .Site.Data.speakers }}
   {{ if in ($.LinkTitle | urlize) $fname }}
    <hr>
    <div class="container">
      <div class="row">
        <h3>Palestrante</h3>
          <div class="col-md-3">
              {{if $s.photoUrl}}
                <img alt = "{{ $s.name }}" src = "{{$s.photoUrl}}" class="img-responsive img-circle" width = "200px">
              {{else}}
                <i class="fa fa-camera-retro fa-BSB-retro-size-6" aria-hidden="true"></i>
              {{ end }}
          </div>
          <div class= "col-md-8">
             <h3><a href="/program/{{$fname}}">{{ $s.name }}</a></h3>
             {{ if $s.twitter }} <a target="_blank" class="fa fa-twitter" href="https://twitter.com/{{ $s.twitter }}"> {{ $s.twitter }}</a><br>{{ end }}
             {{ if $s.website }} <a target="_blank" class="fa fa-globe" href="{{ $s.website }}"> {{ $s.website }}</a><br>{{ end }}
             {{ if $s.pronouns }}Pronouns: {{ $s.pronouns }}{{ end }}
             <br>
             {{ printf "%v" ($s.bio) | markdownify }}
          </div>
      </div>
    </div>
   {{ end }}
 {{ end }}
 <!-- speaker code end -->
 <br />
 {{ if $.Params.copalestrante_name }}
   <div class="container">
     <div class="row">
       <h4>Co-Palestrante</h4>
         <div class="col-md-3">
             {{if $.Params.copalestrante_photourl}}
               <img alt = "{{ $.Params.copalestrante_name }}" src = "{{$.Params.copalestrante_photourl}}" class="img-responsive img-circle" width = "200px">
             {{else}}
               <i class="fa fa-camera-retro fa-BSB-retro-size-6" aria-hidden="true"></i>
             {{ end }}
         </div>
         <div class= "col-md-8">
            <h3>{{ $.Params.copalestrante_name}}</h3>
            {{ if $.Params.copalestrante_twitter }}
              <a target="_blank" class="fa fa-twitter" href="https://twitter.com/{{ $.Params.copalestrante_twitter }}"> {{ $.Params.copalestrante_twitter }}</a><br>
            {{ end }}
            {{ if $.Params.copalestrante_website }}
              <a target="_blank" class="fa fa-globe" href="{{ $.Params.copalestrante_website }}"> {{ $.Params.copalestrante_website }}</a><br>
            {{ end }}
            {{ if $.Params.copalestrante_pronouns }}Pronouns: {{ $.Params.copalestrante_pronouns }}{{ end }}
            <br>
            {{ printf "%v" ($.Params.copalestrante_bio) | markdownify }}
         </div>
   </div>
  </div>
 {{end}}
 <br /><br />

{{ partial "footer.html" . }}
