{{ partial "header.html" . }}

<div class="page-header">
    <h1>{{ .Title }}</h1>
</div>
<div class="page-body">
    {{ .Content }}
</div>

<!-- speaker page code begin -->
{{ range $fname, $s := index $.Site.Data.speakers }}
<div class="container">

    <div class="row">
        <div class="col-md-3">
            {{if $s.photoUrl}}
            <img alt = "{{ $s.name }}" src = "{{$s.photoUrl}}" class="img-responsive img-circle" width = "200px">
            {{else}}
            <i class="fa fa-camera-retro fa-BSB-retro-size-6" aria-hidden="true"></i>
            {{ end }}
        </div>
        <div class= "col-md-8">
            <h3><a href="/program/{{$fname}}">{{ $s.name }}</a></h3>
            {{ if $s.twitter }} <a target="_blank" class="fa fa-twitter" href="https://twitter.com/{{ $s.twitter }}"> {{ $s.twitter }}</a><br>{{ end }}
            {{ if $s.website }} <a target="_blank" class="fa fa-globe" href="{{ $s.website }}"> {{ $s.website }}</a><br>{{ end }}
            {{ if $s.pronouns }}Pronouns: {{ $s.pronouns }}{{ end }}
            <br>
            {{ printf "%v" ($s.bio) | markdownify }}
        </div>
    </div>
    <hr>

</div>
{{ end }}
<!-- speaker code end -->

{{ partial "footer.html" . }}
